
<!-- include header -->
<%- include('includes/header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Student</h2>
            <span class="text-light">Use the below form to Update student</span>
        </div>
        <div class="filter">
            <a href="/" style="float: right; background-color: aqua;">View All Student</a>
        </div>

        <!-- add user form -->
      <!-- form handling -->
 <form  method="POST" id="update_stud">
    <div class="new_stud">
        <div class="form-group">
            <label for="name" class="text-light">Full Name</label>
            <input type="hidden" name="id" value="<%= stud._id %>">
            <input required type="text" name="name" value="<%= stud.name %>">
        </div>
        <div class="form-group">
            <label for="age" class="text-light">Age</label>
            <input required type="number" name="age" value="<%= stud.age %>">
        </div>

        <div class="form-group">
            <label for="grade" class="text-light">Grade</label>
            <input required type="number" name="grade" value="<%= stud.grade %>">
        </div>
       
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input required type="radio" id="radio-2" name="gender" value="Male" <%= stud.gender == 'Male' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input required type="radio" id="radio-3" name="gender" value="Female" <%= stud.gender == 'Female'? 'checked': '' %>>
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input required type="radio" id="radio-4" name="status" value="pass" <%= stud.status == 'pass'? 'checked': '' %> >
                <label for="radio-4" class="radio-label">Pass</label>
            </div>
            <div class="radio inline">
                <input required type="radio" id="radio-5" name="status" value="fail" <%= stud.status == 'fail'? 'checked': '' %>>
                <label for="radio-5" class="radio-label">Fail</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">update student</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('includes/footer') %>
<!-- /include footer -->
